
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Poppins, sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}